* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Rubic", sans-serif;
  color: #444;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

nav {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

header {
  position: relative;
  height: 100vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(81, 81, 81, 0.6)),
    url(/asssets/img/hero-pic.jpg);
  background-size: cover;
  color: #fff;
}

.header-container {
  width: 1200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header-container-inner {
  width: 50%;
}

h1 {
  font-size: 52px;
  margin-bottom: 32px;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin: 48px 0;
}

.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600;
  background-color: orange;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}

h2 {
  font-size: 44px;
  margin-bottom: 48px;
}

section {
  padding: 96px 0;
  background-color: #f7f7f7;
}
